
.error {
    -fx-text-fill: #d06651 !important; /* The error class should always override the default text-fill style */
}

.list-cell:empty {
    /* Empty cells will not have alternating colours */
    -fx-background: #383838;
}


.tag-selector {
    -fx-border-width: 1;
    -fx-border-color: white;
    -fx-border-radius: 3;
    -fx-background-radius: 3;
}

.tooltip-text {
    -fx-text-fill: white;
}

#leftButton {
    -fx-border-width: 0;
    -fx-background-radius: 26em;
    -fx-min-width: 26px;
    -fx-min-height: 26px;
    -fx-max-width: 26px;
    -fx-max-height: 26px;
    -fx-background-color: #ffffff;
}

#rightButton {
    -fx-border-width: 0;
    -fx-background-radius: 26em;
    -fx-min-width: 26px;
    -fx-min-height: 26px;
    -fx-max-width: 26px;
    -fx-max-height: 26px;
    -fx-background-color: #ffffff;
}

#monthYearLabel {
    -fx-text-fill: white;
    -fx-font-weight: bold;
    -fx-font-size: 24;
    -fx-blend-mode: SRC_OVER;
}

#amount #repeatAmount {
    -fx-font-size: 13;
    -fx-background-color: #CD594A;
    -fx-background-radius: 1;
}


.weekDayLabel {
    -fx-text-fill: white;
    -fx-font-size: 20;
}

.dateGridPaneLabel {
    -fx-text-fill: white;
    -fx-font-size: 12;
}

#activeName {
    -fx-text-fill: white;
    -fx-font-size: 20;
    -fx-font-weight: bold;
}

#reportButton {
    -fx-text-fill: white;
    -fx-font-size: 20;
    -fx-font-weight: bold;
}